<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenAI</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="left">
        <img src="" alt="" id="result">
    </div>
    <div class="right">
        <form>
            <img src="#" id="preview">
            <div class="searchBar">
                

                <div class="upload-btn-wrapper">
                    <button class="btnFile">Subir</button>
                    <input type="file" id="image" name="file" accept="image/*" required>
                </div>

                <input type="text" id="prompt" name='prompt' placeholder="Escribe tu prompt" required>
                <button type="submit" id="submitBtn">SEND</button>
            </div>
        </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./script.js"></script>
</body>

</html>